.popup {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* спрятать */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease;
}

.popup_opened {
    /* показать */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.popup__content {
    padding: 35px;
    position: relative;
    max-width: 430px;
    max-height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 768px)  {
    .popup__content {
        margin-right: 19px;
        margin-left: 19px;
        padding: 25px 22px;
    }
}

.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -40px;
    left: 100%;
}

@media screen and (max-width: 768px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -48px;
        right: 0;
        left: auto;
    }
}

@media screen and (max-width: 425px) {
    .popup__close {
        top: -37px;
    }
}

.popup__title {
    margin: 0 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 425px) {
    .popup__title {
        margin: 0 0 75px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__form {
    max-width: 358px;
    overflow: hidden;
}

.popup__input {
    margin-bottom: 30px;
    width: 100%;
    height: 27px;

    font-size: 14px;
    line-height: 17px;
    color: #000000;

    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-bottom 0.3s ease;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 425px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}

.popup__input:active,
.popup__input:focus,
.popup__input:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.popup__btn {
    background: #000000;
    color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 14px 0 18px;
    text-align: center;
}
