.popup {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* спрятать */
    opacity: 0;
    transition: opacity 0.3s ease;
}