.popup__input {
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 100%;
    height: 27px;

    font-size: 14px;
    line-height: 17px;
    color: #000000;

    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-bottom 0.3s ease;
}
.popup__input:active,
.popup__input:focus,
.popup__input:hover {
    border-bottom: 1px solid #000000;
}
.popup__input:last-of-type {
    margin-bottom: 48px;
}

/* ====== */

@media screen and (max-width: 425px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}