.profile__add-btn {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 14px 64px;
}

.profile__add-btn::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../../../images/add-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

@media screen and (max-width: 425px)  {
    .profile__add-btn {
        width: 100%;
        padding: 17px auto;
    }
}