.element__btn {
    cursor: pointer;
    border: none;
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 0.3s ease;
}

.element__btn:hover {
    opacity: 0.5;
}
