.profile-info__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    margin-right: 18px;
}

@media screen and (max-width: 768px) {
    .profile-info__title {
        font-size: 27px;
    }
}