.profile__edit-btn {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}