@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/btn/btn.css);

@import url(../blocks/page/page.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/main/main.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/profile/__top/profile__container.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__img/element__img.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__btn/element__btn.css);
@import url(../blocks/element/__btn/_active/element__btn_active.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
*/
